# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ecipse Project-specific files/directories
bin/*
docs/ProjectNotes.rtf
resources/client_secret_*
resources/jQuerify.js
resources/My Project-552ecd170323.json
resources/data_store_2
target
*.csv
*.jar
